html,
body {
  background-color: #202020;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

.score {
}
#score {
  color: green;
}
#highscore {
  color: red;
}

canvas {
  border: solid 0.2em #fff;
  height: 80vh;
}
